.jumbotron {
  background-image: url("./library.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: whitesmoke;
}

h1, h2 {
  text-align: center;
  font-family: 'Gentium Book Basic', serif;
}
