.btnEl {
  margin-top: 10px;
  margin-right: 10px;
}


.btnElTwo {
  margin-top: 10px;
  margin-right: 10px;
  /* text-align: center; */
}

.padded {
  margin-top: 10px;
  margin-left: 10px;
  margin-bottom: 10px;
}

h6 {
  text-align: left;
}